/* 
body{
    background-color: antiquewhite;
} */

body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}


/* home */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    text-align: center;
    margin-top: 1.4rem;
    margin-right: 1.4rem;
    opacity: 0.7;
    font-size: 14px;
}
.filter p{
    font-size: 0.8rem;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}

/* NAVBAR */
.navbar{
    height: 4rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-login{
    margin-left: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.tax-info-after{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links{
    text-decoration: none;
    color: #222222;
    opacity: 1;
}

.footer-links:hover{
    opacity: 0.8;
}

.f-info-socials i{
    font-size:1.4rem;
    margin-right: 0.6rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    height: 6rem;
    background-color:#ebebeb ;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items:space-evenly;
}

/* CARDS */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius:1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 300;
    
}

.listing-links{
    text-decoration: none;
}

/* Cards Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
}


/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;

}

.btn-search{
    background-color: #fe424d;
    color: white;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
    
}

.fa-star{
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.custom-range{
    width: 50% !important;
}